<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Web application for recognizing handwritten characters">
  <meta name="author" content="Bojan Adzievski">

  <title>Handwriting recognition</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>

  {% block header %}
  <header class="top" role="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
          <a class="navbar-brand" href="/">Handwriting</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/digits/">Digits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Cyrillic</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Create digit
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" href="/create_dataset/0">0</a>
                  <a class="dropdown-item" href="/create_dataset/1">1</a>
                  <a class="dropdown-item" href="/create_dataset/2">2</a>
                  <a class="dropdown-item" href="/create_dataset/3">3</a>
                  <a class="dropdown-item" href="/create_dataset/4">4</a>
                  <a class="dropdown-item" href="/create_dataset/5">5</a>
                  <a class="dropdown-item" href="/create_dataset/6">6</a>
                  <a class="dropdown-item" href="/create_dataset/7">7</a>
                  <a class="dropdown-item" href="/create_dataset/8">8</a>
                  <a class="dropdown-item" href="/create_dataset/9">9</a>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Create cyrillic
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" href="/create_dataset/а">а</a>
                  <a class="dropdown-item" href="/create_dataset/б">б</a>
                  <a class="dropdown-item" href="/create_dataset/в">в</a>
                  <a class="dropdown-item" href="/create_dataset/г">г</a>
                  <a class="dropdown-item" href="/create_dataset/д">д</a>
                  <a class="dropdown-item" href="/create_dataset/ѓ">ѓ</a>
                  <a class="dropdown-item" href="/create_dataset/е">е</a>
                  <a class="dropdown-item" href="/create_dataset/ж">ж</a>
                  <a class="dropdown-item" href="/create_dataset/з">з</a>
                  <a class="dropdown-item" href="/create_dataset/ѕ">ѕ</a>
                  <a class="dropdown-item" href="/create_dataset/и">и</a>
                  <a class="dropdown-item" href="/create_dataset/ј">ј</a>
                  <a class="dropdown-item" href="/create_dataset/к">к</a>
                  <a class="dropdown-item" href="/create_dataset/л">л</a>
                  <a class="dropdown-item" href="/create_dataset/љ">љ</a>
                  <a class="dropdown-item" href="/create_dataset/м">м</a>
                  <a class="dropdown-item" href="/create_dataset/н">н</a>
                  <a class="dropdown-item" href="/create_dataset/њ">њ</a>
                  <a class="dropdown-item" href="/create_dataset/о">о</a>
                  <a class="dropdown-item" href="/create_dataset/п">п</a>
                  <a class="dropdown-item" href="/create_dataset/р">р</a>
                  <a class="dropdown-item" href="/create_dataset/с">с</a>
                  <a class="dropdown-item" href="/create_dataset/т">т</a>
                  <a class="dropdown-item" href="/create_dataset/ќ">ќ</a>
                  <a class="dropdown-item" href="/create_dataset/у">у</a>
                  <a class="dropdown-item" href="/create_dataset/ф">ф</a>
                  <a class="dropdown-item" href="/create_dataset/х">х</a>
                  <a class="dropdown-item" href="/create_dataset/ц">ц</a>
                  <a class="dropdown-item" href="/create_dataset/ч">ч</a>
                  <a class="dropdown-item" href="/create_dataset/џ">џ</a>
                  <a class="dropdown-item" href="/create_dataset/ш">ш</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/create_dataset/А">А</a>
                  <a class="dropdown-item" href="/create_dataset/Б">Б</a>
                  <a class="dropdown-item" href="/create_dataset/В">В</a>
                  <a class="dropdown-item" href="/create_dataset/Г">Г</a>
                  <a class="dropdown-item" href="/create_dataset/Д">Д</a>
                  <a class="dropdown-item" href="/create_dataset/Ѓ">Ѓ</a>
                  <a class="dropdown-item" href="/create_dataset/Е">Е</a>
                  <a class="dropdown-item" href="/create_dataset/Ж">Ж</a>
                  <a class="dropdown-item" href="/create_dataset/З">З</a>
                  <a class="dropdown-item" href="/create_dataset/Ѕ">Ѕ</a>
                  <a class="dropdown-item" href="/create_dataset/И">И</a>
                  <a class="dropdown-item" href="/create_dataset/Ј">Ј</a>
                  <a class="dropdown-item" href="/create_dataset/К">К</a>
                  <a class="dropdown-item" href="/create_dataset/Л">Л</a>
                  <a class="dropdown-item" href="/create_dataset/Љ">Љ</a>
                  <a class="dropdown-item" href="/create_dataset/М">М</a>
                  <a class="dropdown-item" href="/create_dataset/Н">Н</a>
                  <a class="dropdown-item" href="/create_dataset/Њ">Њ</a>
                  <a class="dropdown-item" href="/create_dataset/О">О</a>
                  <a class="dropdown-item" href="/create_dataset/П">П</a>
                  <a class="dropdown-item" href="/create_dataset/Р">Р</a>
                  <a class="dropdown-item" href="/create_dataset/С">С</a>
                  <a class="dropdown-item" href="/create_dataset/Т">Т</a>
                  <a class="dropdown-item" href="/create_dataset/Ќ">Ќ</a>
                  <a class="dropdown-item" href="/create_dataset/У">У</a>
                  <a class="dropdown-item" href="/create_dataset/Ф">Ф</a>
                  <a class="dropdown-item" href="/create_dataset/Х">Х</a>
                  <a class="dropdown-item" href="/create_dataset/Ц">Ц</a>
                  <a class="dropdown-item" href="/create_dataset/Ч">Ч</a>
                  <a class="dropdown-item" href="/create_dataset/Џ">Џ</a>
                  <a class="dropdown-item" href="/create_dataset/Ш">Ш</a>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  {% endblock header %}

  <div class="banner">
    <div class="container">
      <div class="col-lg-12">
        {% block banner %}{% endblock banner %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>

</body>

</html>
