{% extends "base.html" %}

{% block banner %}
<div class="row justify-content-center mt-1">
  <p>Draw a single character out of "{{ labels }}" on the canvas, then click on Predict.</p>
</div>
{% endblock banner %}

{% block content %}
<div class="row justify-content-center">
  <div id="container">
    <div id="sheet-container">
      <canvas id="sheet" width="300" height="300"></canvas>
    </div>
    <div class="mt-1" id="form-container">
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="width" value="">
        <input type="hidden" name="height" value="">
        <input type="hidden" name="image_data" value="">
      </form>
    </div>
    <div class="buttons-container row justify-content-center mt-1">
      <button type="button" id="submit" class="btn btn-outline-primary mr-1" onclick="send_image_data()">
        Predict
      </button>
      <button type="button" id="clear" class="btn btn-outline-secondary ml-1" onclick="clear_canvas()">
        Clear
      </button>
    </div>
    {% if probabilities %}
    <div id="predictions-container row justify-content-center mt-1">
      <div class="table-responsive mt-2">
        <table class="table">
          <tr>
            <th>Label</th>
            <th>Probability</th>
          <tr>
        {% for result in probabilities|slice:":3" %}
          <tr>
            <th>{{ result.0 }}</th>
            <th>{{ result.1|floatformat:1 }}%</th>
          <tr>
        {% endfor %}
        </table>
      </div> 
    </div>
    {% endif %}
  </div>
</div>

{% load static %}
<script src="{% static 'canvas.js' %}"></script>
{% endblock content %}
